<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Secret of NIMBY</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="../static/css/style.css">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>

  <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin=""></script>

  <!-- Leaflet heatmap plugin -->
  <script type="text/javascript" src="../static/js/leaflet-heat.js"></script>

  <!-- Font-Awesome -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>

  <!-- Leaflet zoom home plugin -->
  <link rel="stylesheet" href="../static/css/leaflet.zoomhome.css"/>

  <!-- Dark Mode Plugin -->
  <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
  <script>
    function addDarkmodeWidget() {
      new Darkmode().showWidget();
    }
    window.addEventListener('load', addDarkmodeWidget);
  </script>
</head>

<body>
  <div id="grid" class="container h-100 d-flex flex-column">
      <div class ="row h-25">
        <div class="text-center bg-light">

          <h1>Analysis of Atlanta Crimes in Relation to the Location of MARTA Rail Stations (2022)</h1>
          <p>Use the dropdown menus to explore the interactive charts</p>

        </div>
      </div>
      <div class="row h-100 bg-light">  
        <div class="col-md-3 info-div">
          <div class="row h-25">
            <div class="dropdown" style="color: grey"><b>Neighborhood</b>
              <div class="dropdown-content">
                <select id="neighborhood" onchange="neighborhoodChanged(this.value)" style="width: 250px"></select>
              </div>
            </div>
            <div class="dropdown" style="color: grey"><b>Crime Type</b><br>
              <div class="dropdown-content">
                <select id="crimeType" onchange="crimeTypeChanged(this.value)"  style="width: 250px"></select><br><br>
              </div>
            </div>
          </div>
          <div class="row h-75"> 
            <div class="panel panel-primary">
              <div id='neighborhoodName' class="panel-heading"></div>
              <div id="crimeInfo" class="panel-body"></div>
              <div id="neighborhoodInfo" class="panel-body"></div>
            </div>
          </div>
        </div>
        <div class="col-md-5 map-div">
          <div id="myMap"></div>
        </div>
        <div class="col-md-4 chart-div">
          <div class="row h-50"> 
            <div id="bar"></div>
          </div>
          <div class="row h-50"> 
            <div id="radar"></div>
          </div>
        </div>
      </div>
      <div class="footer bg-light">
          <div class="navbar-inner" font-size="12px" line-height="18px" >
            <div class="width-constraint  d-flex justify-content-between">
                <p class="pull-left "><b>Secret of NIMBY (Not in My Backyard): 
                  <a href="https://github.com/annalysebergman" target="_blank">Bergman A</a>, 
                  <a href="https://github.com/lakshmi-bhimavarapu" target="_blank">Bhimavarapu L</a>,
                  <a href="https://github.com/Luuuuuuuuu1" target="_blank">Lu Y</a>,
                  <a href="https://github.com/ryanmarshall80" target="_blank">Marshall R</a>,
                  <a href="https://github.com/meeyoungPH" target="_blank">Park M</a>
                </b></p>
                <p class="pull-right "><b>©2023 • ALL RIGHTS RESERVED</b></p>
            </div>
          </div>
      </div>
  </div>

  <script type="text/javascript" src="../static/js/leaflet.zoomhome.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="../static/js/logic.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>

</body>

</html>